@model CloudShop.Models.IndexViewModel

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Products</h2>

        @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { @role = "form" }))
        {
            <label for="items">Select a product from the list:</label>
            <select class="form-control" name="selectedItem" id="items" size="14">
                @foreach (string product in Model.Products)
                {
                    <option value="@product">@product</option>
                }
            </select>
        }
        <br />
        <div class="row">
            <a href="javascript:document.forms[0].submit();" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add item to cart</a>
            <a href="@Url.Action("Recycle", "Home")" class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-refresh"></span> Recycle</a>
        </div>
    </div>
    <div class="col-sm-6">

        <div class="row">
            <h2>Cache settings for Cloud Shop</h2>
            <p><b>Instance ID:</b> @Model.InstanceId</p>
            <p><b>Object ID:</b> @Model.ObjectId</p>
            <h4>Cache Management:</h4>
            @if (!Model.IsCacheEnabled)
            {
                <a href="@Url.Action("EnableCache", "Home", new { enabled = true })" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-flash"></span> Enable Cache</a>
            }
            else
            {
                <a href="@Url.Action("EnableCache", "Home", new { enabled = false })" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-off"></span> Disable Cache</a>
            }
            <br />
            <br />
            <div id="elapsedTime">Elapsed time: @Model.ElapsedTime.ToString() milliseconds.</div>
        </div>
    </div>
</div>