@model Expenses.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h1 class="register">@ViewBag.Title</h1>
<hr/>
<p>Enter your user name and password below.</p>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "login-form", @class = "centered-form" }))
{
    <fieldset class="login">
        <legend>Login <span>New User? @Html.ActionLink("Register", "Register", "Account")</span></legend>

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)

        <div class="actions">
            <input type="submit" value="Login" class="button button-blue "/><br/>
            @Html.ActionLink("Forgot your password?", "Profile", "Account")
        </div>

    </fieldset>
    @Html.ValidationSummary(true, string.Empty)
}