@if (Request.IsAuthenticated) {
    <p>        
        Welcome, @Html.ActionLink(User.Identity.Name, "Profile", "Account", null, new { @class = "username" }) |
        @Html.ActionLink("Logout", "LogOff", "Account")
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Login as user", "FakeLogin", "Account", new { username = "user" }, null) |</li>
        <li>@Html.ActionLink("Login as manager", "FakeLogin", "Account", new { username = "manager" }, null) |</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) |</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li> 
    </ul>
}