@model PhotoUploader_WebRole.Models.PhotoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Test</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Uri)
    </div>
    <div class="display-field">
        <img src="@Model.Uri"/>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { partitionKey = Model.PartitionKey, rowKey = Model.RowKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
