@model Expenses.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h1 class="register">@ViewBag.Title</h1>
<hr/>
<p>New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.</p>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "changepassword-form", @class = "centered-form" })) {

    <fieldset>
        <legend>Change Password Form</legend>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
 
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <div class="actions">
            <input type="submit" value="Change password" class="button button-blue "/><br/>
        </div>            
    </fieldset>
    
    @Html.ValidationSummary(true, string.Empty)
}
