@model IEnumerable<PhotoUploader_WebRole.Models.PhotoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create", "Create")
</p>

@if (this.Model.Count() > 0)
{
    <table>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Title)</th>
            <th> @Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
        @foreach (var photo in this.Model)
        {
            <tr>
                <td>@photo.Title</td>
                <td>@photo.Description</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = photo.RowKey })</td>
                <td>@Html.ActionLink("Details", "Details", new { id = photo.RowKey })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = photo.RowKey })</td>
            </tr>
        }
    </table>
} else{
    <p>No images uploaded yet</p>
}